@import url('fonts/Alpino_Complete/Fonts/WEB/css/alpino.css');
@import url('Rosca-Font/Rosca.css');
*{
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    user-select: none;
    outline: none;
    border: none;
}

body{
background-color: #000000;
border: none;
}

.mainlogo{
    font-size: 35px;
    font-weight: 600;
    display: inline-block;
    font-family: 'Rosca', sans-serif;
}
.navbar{
    background-color: rgba(red, green, blue, alpha); /* Dark background color */
    color: #fff;            /* White text color */
    border: none;
}

.content{
    display: inline-block;
    background-color: rgba(red, green, blue, alpha);
    height: 80px;
    width: 100%;
}

.marginlist{
    margin-right: auto;
    display: inline-block;
}
.nav-list{
    list-style: none;
    font-family: sans-serif;
    margin-right: auto;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    padding-bottom: 0;
    line-height: 0.5;
}

.styled-line {
    border: none;          /* Removes the default border */
    height: 2px;           /* Sets the thickness of the line */
    background-color: #f3f3f3; /* Sets the color of the line */
    width: 80%;            /* Sets the width to 80% of the container */
    margin: 20px auto;     /* Centers the line and adds vertical space */
}

.button{
    text-decoration: none;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}

.button:hover{
    background-color: #3b3737;
    cursor: pointer;
    border-radius: 20px;
}

.header{
font-family: 'Alpino-Light', sans-serif;    
text-align: center;
}
.homepage{
    font-size: 24px ;
    font-family: 'Alpino-Light', sans-serif; 
    margin-bottom: 20px;
    
}

.requirements{
    font-size: 34px;
    font-family: 'Alpino-Light', sans-serif; 
}

.nav-list2{
    font-size: 30px;
    font-family: 'Alpino-Light', sans-serif; 
}

.join{
    font-size: 30px;
    font-family: 'Alpino-Light', sans-serif; 
   text-align: center;
}

.memberpage{
    font-family: 'Alpino-Light', sans-serif; 
    font-size: 30px;
}
.nav-list3 {
    font-family: 'Rosca', sans-serif;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

a{
    text-decoration: none;
    
}

h2{
    text-align: center;
    font-family: 'Alpino-Light', sans-serif; 
    font-size: 30px;
    
}

.about{
    margin-top: 60px;
    font-family: 'Alpino-Light', sans-serif; 
    font-size: 20px;
}

.header1{
    text-align: center;
    font-size: 40px;
    font-family: 'Alpino-Light', sans-serif; 
}

.namelogo{
    font-family: 'Rosca',sans-serif;
}
